[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
isort = "*"

[packages]
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
pydantic = "*"
python-multipart = "*"
python-oauth2 = "*"
python-keycloak = "*"
requests-oauthlib = "*"
fastapi-users = {extras = ["mongodb", "sqlalchemy"],version = "*"}
aiohttp = "*"
asyncio = "*"
yapf = "*"

[requires]
python_version = "3.7"

[scripts]
api = "python api/main.py"
