[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "0.13.3"

[packages]
fastapi = "0.61.1"
jinja2 = "2.11.2"
uvicorn = "0.14.0"

[requires]
python_version = "3.7"

[scripts]
api = "python main.py"