[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
pydantic = "*"

[requires]
python_version = "3.7"

[scripts]
api = "python main.py"